* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 60px;
}

.logo img {
    width: 60px;
}

nav a {
    margin-left: 25px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    gap: 6px;
}

nav a.active {
    color: #ff914d;
    font-weight: bold;
}


.container {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 40px;
    display: flex;
    gap: 50px;
    align-items: flex-start;
}


.foto-wrapper {
    position: relative;
    display: inline-block;
}


.foto-wrapper::before {
    content: "";
    position: absolute;
    left: -12px;          
    top: 0;
    width: 150px;          
    height: 100%;       
    background: #4fb6e7;
    border-bottom-left-radius:224px ;
    z-index: 0;
}


.foto {
    position: relative;
    z-index: 2; 
    overflow: hidden;
    border-radius: 0 80px 0 80px; 
}

.foto img {
    width: 340px;
    height: 400px;
    object-fit: cover;
    border-radius: 0 80px 0 80px;
    display: block;
}


.formulario {
    flex: 1;
}

.formulario h1 {
    font-size: 36px;
    margin-bottom: 25px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form label {
    margin-top: 10px;
    font-weight: 600;
}

form input,
form textarea {
    width: 100%;
    background: #dcdcdc;
    border: none;
    padding: 12px;
    border-radius: 10px;
    font-size: 15px;
    margin-top: 5px;
}

textarea {
    height: 120px;
}


.btn-outline {
    margin-top: 20px;
    padding: 10px 18px;
    border: 2px solid #0091a7;
    background: none;
    color: #0091a7;
    border-radius: 8px;
    cursor: pointer;
    width: 120px;
}

.btn-filled {
    margin-top: 10px;
    padding: 10px 18px;
    background: #0091a7;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 120px;
}

footer {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #000;
    width: 100%;
    gap: 20px;
}

footer a svg {
    color: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
        margin: 20px auto;
        padding: 0 20px;
        gap: 30px;
    }

    header {
        padding: 20px 20px;
        flex-direction: column; 
        align-items: center;
        gap: 15px;
    }


    nav {
       display: flex;
       justify-content: center;
        align-items: center;
        width: 100%; 
        gap: 10px; 
        margin-top: 5px;
    }

    nav a {
        margin-left: 0;
        font-size: 16px; 
    }

    .foto-wrapper {
        display: flex; 
        justify-content: center; 
        align-items: center;
        width: 100%;
        margin-top: 10px;
        
    }

    .foto-wrapper::before {
        width: 115px;
        left: 90px;
        border-bottom-left-radius: 150px;
    }
    
    .foto img {
        width: 280px; 
        height: 330px;
        border-radius: 0 50px 0 50px;
    }
    
    .formulario {
        width: 100%;
        padding: 0 10px;
    }

    .formulario h1 {
        font-size: 28px;
        margin-bottom: 15px;
        text-align: center;
    }

    form input,
    form textarea {
        padding: 10px; 
        font-size: 14px;
    }

    .btn-outline,
    .btn-filled {
        width: 100%;
        max-width: 250px; 
        align-self: center; 
        margin-top: 10px;
    }

    footer {
        margin-top: 30px;
        padding: 15px 0;
    }

    footer a svg {
        width: 25px;
        height: 25px;
    }
}